{% extends 'email/base_email.html' %}

{% block content %}
<h2>Password Reset Request</h2>
<p>Hello {{ user.first_name|default:user.username }},</p>
<p>We received a request to reset your password for your Castle Depots account. If you didn't make this request, you can
    safely ignore this email.</p>
<p>To reset your password, click the button below:</p>
<p style="text-align: center;">
    <a href="{{ reset_link }}" class="button">Reset Password</a>
</p>
<p>Or copy and paste this link into your browser:</p>
<p><small>{{ reset_link }}</small></p>
<p>This link will expire in 24 hours.</p>
{% endblock %}